---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
const role = (session?.user as any)?.role ?? "guest";
// --------------- LOCAL UI STATE ----------------------

/** Array of principal investigators. */
const people = [
  {
    name: "Dr. Mark Amengual",
    profile: "/img/mark_profile.jpg",
    department: "Department of Languages and Applied Linguistics",
    university: "University of California, Santa Cruz",
    orcid: "0000-0003-2007-9687",
    website: "https://markamengual.weebly.com/",
    email: "amengual@ucsc.edu",
  },
  {
    name: "Dr. Ji Young Kim",
    profile: "/img/kim_profile.jpg",
    department: "Department of Spanish and Portuguese",
    university: "University of California, Los Angeles",
    orcid: "0000-0002-5708-6461",
    website: "https://spanport.ucla.edu/person/ji-young-kim/",
    email: "jiyoungkim@ucla.edu",
  },
  {
    name: "Dr. Justin Davidson",
    profile: "/img/justin_profile.jpg",
    department: "Department of Spanish and Portuguese",
    university: "University of California, Berkeley",
    orcid: "0000-0002-5708-6461",
    website:
      "https://spanish-portuguese.berkeley.edu/people/faculty/justin-davidson",
    email: "justindavidson@berkeley.edu",
  },
];

const julian = [
  {
    name: "Julian Vargo (Ph.D. Student)",
    profile: "/img/vargo_spanport_library.jpg",
    department: "Department of Spanish and Portuguese",
    university: "University of California, Berkeley",
    orcid: "0009-0009-8637-7928",
    website: "https://sites.google.com/berkeley.edu/julian-vargo",
    email: "julianvargo@berkeley.edu",
  },
];
---

<Layout>
  <div class="banner">
    <div class="welcome-text">Multilingual Hispanic Speech in California</div>
  </div>
  <div class="grid-2">
    <div class="carousel-wrapper">
      <img
        src="/img/amengual_training.jpg"
        alt="picture of students being trained"
        class="carousel-bg"
      />
      <div class="carousel-text">
        <p id="carousel-text">81 researchers</p>
      </div>
    </div>
    <div>
      <p class="justify">
        <b>The MuHSiC (Multilingual Hispanic Speech in California)</b> project is
        a corpus of bilingual Spanish-English speech from
        sociolinguistic interviews and naturalistic conversations across California.
        Speech data of diverse social and regional profiles were collected by undergraduate students trained by graduate
        students and the 3 faculty PIs.<br>
        
        This corpus features 1200 35-minute recordings of
        California Spanish-English bilinguals, 600 recorded in Spanish and 600 in English.
      </p>
    </div>
  </div>

{role !== "researcher" && (
  <div class="grid-2">
    <div>
      <p class="justify">
        The Multilingual Hispanic Speech in California Corpus has been made
        possible in part by a
        Multicampus Research Programs and Initiatives Grant (MRPI GrantM23PL5866)
        awarded to Mark Amengual, Ji Young Kim, and Justin Davidson.
      </p>
      <p class="justify">
        Any views, findings, conclusions, or recommendations expressed in this
        website and project, do not necessarily represent those of the
        University of California.
      </p>
    </div>

    <button id="login" class="login-button" type="button">
      <Image
        src="/img/login-button.png"
        alt="Login Button"
        width={242}
        height={193}
        style="border-radius:16px;"
        id="login-img"
      />
    </button>
  </div>
)}

{role === "researcher" && (
  <div class="grid-1">
    <div>
      <p class="justify">
        The Multilingual Hispanic Speech in California Corpus has been made
        possible in part by a
        <strong>
          Multicampus Research Programs and Initiatives Grant (MRPI GrantM23PL5866)
        </strong>
        awarded to Mark Amengual, Ji Young Kim, and Justin Davidson.
      </p>
      <p class="justify">
        Any views, findings, conclusions, or recommendations expressed in this
        website and project, do not necessarily represent those of the
        University of California.
      </p>
    </div>
  </div>
)}

<div class="grid-2" style="line-height:1.2rem; display:grid; grid-template-columns:2.5fr 1fr; gap:2rem; align-items:start;">
  <section class="pi-block">
    <h2 style="text-align:center;">Principal Investigators</h2>

    <div class="grid-3">
      {people.map((person) => (
        <div style="text-align:center;">
          <figure style="margin:0;">
            <Image
              src={person.profile}
              alt={`${person.name} portrait`}
              width={150}
              height={200}
              style="border-radius:16px;"
            />
          </figure>

          <div>
            <p>
              <a href={`https://orcid.org/${person.orcid}`} target="_blank" rel="noopener">
                {person.name}
              </a>
            </p>
            <p>{person.department}</p>
            <p>{person.university}</p>
          </div>
        </div>
      ))}
    </div>
  </section>

  <section class="grid-1" style="line-height:1.2rem;">
    <h2 style="text-align:center;">Project Manager</h2>

    {julian.map((p) => (
      <div style="text-align:center;">
        <figure style="margin:0;">
          <Image
            src={p.profile}
            alt={`${p.name} portrait`}
            width={200}
            height={200}
            style="border-radius:16px;"
          />
        </figure>

        <div>
          <p>
            <a href={`https://orcid.org/${p.orcid}`} target="_blank" rel="noopener">
              {p.name}
            </a>
          </p>
          <p>{p.department}</p>
          <p>{p.university}</p>
          <p>
            For all inquiries regarding corpus processing, downloading, web development, or dataset access,
            please contact julianvargo@berkeley.edu
          </p>
        </div>
      </div>
    ))}
  </section>
</div>

  <script type="module">

    /** Messages to be displayed on the text carousel. */
    const messages = [
      "700 hours of speech",
      "Three universities",
      "100,000+ cells of metadata",
      "16 million phonemes",
      "Fully transcribed audio",
      "Force-aligned TextGrids"
    ];

    /** Text currently displayed by text carousel. */
    const textEl = document.getElementById("carousel-text");

    /** Message index. */
    let i = 0;

    /** On click for login button try to direct user to sign in, otherwise print error. */
    document.querySelectorAll("#login").forEach((el) => {
      el.addEventListener("click", () => {
        try {
          signIn("mu-h-si-c-portal");
        } catch (e) {
          console.error(e);
        }
      });
    });

    /** Cycle through carousel messages every 5s, fading out the old message and fading in the next. */
    setInterval(() => {
      textEl.classList.remove("fade-in");
      textEl.classList.add("fade-out");
      setTimeout(() => {
        i = (i + 1) % messages.length;
        textEl.textContent = messages[i];
        textEl.classList.remove("fade-out");
        textEl.classList.add("fade-in");
      }, 1000);
    }, 5000);
  </script>

  <!-- --------------- STYLING ---------------------- -->
  <style>
    .banner {
      background-image: url("/img/baskin.jpg");
      background-size: cover;
      padding: 4rem;
      border-radius: 16px;
      margin-bottom: 20px;
    }

    .welcome-text {
      text-align: center;
      font-size: 36px;
      color: white;
      line-height: 1.25;
      font-weight: bold;
    }

    .login-button {
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  </style>
</Layout>
