---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
const role = session?.user?.role || "guest";
---

<Layout title="Profile">
  {
    session?.user ? (
      <>
        <table style="max-width: 480px; margin: auto;">
          <tbody>
            <tr>
              <td>Name</td>
              <td>{session.user.name}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{session.user.email}</td>
            </tr>
            <tr>
              <td style="vertical-align: top;">Role</td>
              <td>
                <>
                  <code style="border: 1.5px solid grey; padding: 0.2rem 0.5rem; border-radius: 0.2rem;">
                    {role}
                  </code>
                  <br />
                  <p>
                    {role === "researcher" ? (
                      "You have the full access to the website."
                    ) : role === "reader" ? (
                      "You have the full read access to the website."
                    ) : (
                      <>
                        You are currently a guest after registration.
                        <br />
                        Please wait the admin's approval for the full access to
                        the corpus.
                      </>
                    )}
                  </p>
                </>
              </td>
            </tr>
          </tbody>
        </table>
      </>
    ) : (
      <>
        <p style="text-align: center;">Not logged in</p>
      </>
    )
  }

  <div style="display: flex; justify-content: center;">
    <button
      class="big-button"
      id="logout"
      style={`display: ${session?.user ? "inline" : "none"};`}
    >
      Logout
    </button>
    <button
      class="big-button"
      id="login"
      style={`display: ${session?.user ? "none" : "inline"};`}
    >
      Login
    </button>
  </div>

  <script>
    const { signIn, signOut } = await import("auth-astro/client");
    document.querySelector("#login").onclick = () => signIn("keycloak");
    document.querySelector("#logout").onclick = () => signOut();
  </script>
  <!-- <ul>  -->
  <!--   { -->
  <!--     list.list.map(part =>  -->
  <!--     <li data-generation={part.generation_immigration} data-sex={part.sex} data-dominant={part.language_dominance}>{part.participant_code}: {part.generation_immigration || "N/A"}, {part.sex}, {part.language_dominance}</li> -->
  <!--     ) -->
  <!--   } -->
  <!-- </ul>  -->
</Layout>
