---
import { read } from '@/lib/nocodb';
import Layout from '@/layouts/Layout.astro';
import {canRead} from '@/lib/auth';

import { getSession } from 'auth-astro/server';
export const prerender = false

const session = await getSession(Astro.request);
const list = (await read({fields:["participant_code","sex","speaker_group","language_dominance","is_public_sample","publish"]}))
  .filter(part => canRead(session) && part.is_public_sample && part.publish)
---

<Layout>
  <h1>Sample data</h1>
  { canRead(session) &&
  <>
    <script>
    const filter=()=>{
      const code = document.querySelector('#code').value;
      const sex = document.querySelector('#sex').value;
      const lang = document.querySelector('#lang').value;
      const g1 = document.querySelector('#g1').checked;
      const g1_5 = document.querySelector('#g1_5').checked;
      const g2 = document.querySelector('#g2').checked;
      const g3 = document.querySelector('#g3').checked;

      Array.from(document.querySelectorAll(".selectible > tr"))
        .forEach(i => {
          const i_code = i.querySelector("td").innerText;
          const i_sex = i.querySelector(".data_sex").innerText;
          const i_gen = i.querySelector(".data_speaker_group").innerText;
          const i_lang=i.querySelector(".data_language_dominance").innerText;

          // TODO: some comments on filter mechanism
          const included = (i_code.includes(code)) &&
                          (sex === "" || i_sex === sex) &&
                          (lang === "" || i_lang === lang) &&
                          (
                            (!g1&& !g1_5 && !g2 && !g3) || 
                            (g1 && i_gen === "G1") ||
                            (g1_5 && i_gen === "G1.5") ||
                            (g2 && i_gen === "G2") ||
                            (g3 && i_gen === "G3")
                          )

          i.style.display = included ? "": "none";
        });
    }
    </script>
    <label class="input-filter">
    <span>Participant code</span><input type="text" id="code">
    </label>
    <br/>
    <label class="input-filter">
    <span>Sex of Participant</span>
      <select id="sex">
        <option selected></option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
    </label>
    <br/>
    <label class="input-filter">
    <span>Speaker group</span>
    <label >
      <input type="checkbox" id="g1"/>G1
    </label>
    <label >
      <input type="checkbox" id="g1_5"/>G1.5
    </label>
    <label >
      <input type="checkbox" id="g2"/>G2
    </label>
    <label >
      <input type="checkbox" id="g3"/>G3
    </label>
    </label>
    <br/>
    <label class="input-filter">
    <span>Dominant language</span>
      <select id="lang">
        <option selected></option>
        <option>English</option>
        <option>Spanish</option>
      </select>
    </label>
    <br/>
    <input type="submit" value="Search" onclick="filter()">
    <hr/>
  </>
  }

  <table class="center">
    <thead>
      <tr>
        <th>Participant Code</th>
        <th>Sex of Participant</th>
        <th>Speaker Group</th>
        <th>Dominant language</th>
      </tr>
    </thead>
    <tbody class="selectible">
      {list.map(i =>
        (<tr>
          <td>
            <a href={`/corpus/${i.participant_code}`}>
              {i.participant_code}
            </a>
          </td>
          <td class="data_sex">{i.sex}</td>
          <td class="data_speaker_group">{i.speaker_group}</td>
          <td class="data_language_dominance">{i.language_dominance}</td>
        </tr>)
      )}
    </tbody>
  </table>
</Layout>
